body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* reset */

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/*common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;

}

.header-logo .logo2 {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-addrees {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* main */

/* first-section */

.first-section {
    padding: 188px 0;
    background-color: #2E2F42;
}

.first-section-txt {
    margin: auto;
    margin-bottom: 48px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    align-items: center;
}

.first-section-btn {
    margin: auto;
    display: block;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    background: #4D5AE5;
    color: #ffffff
}

.first-section-btn:hover,
.first-section-btn:focus {
    background-color: #404BBF
}

/* second-section */

.second-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list {   
    display: flex;   
    gap: 24px;
}

.second-section-item {
    width: calc((100% - 72px) / 4);    
}

.second-section-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section-txt {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* third section */

.third-section {
    padding: 120px 0;
    background: #F4F4FD;
}

.third-section-head {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.third-section-list {
    display: flex;    
    gap: 24px;    
}

.img-user {
    display: block;    
}

.user-name {
    padding: 32px 0;
}

.third-section-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;    
    background-color: #FFFFFF
}


.third-section-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.third-section-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* fourth section */

.fourth-section {
    padding: 120px 0;
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-section-item {
    width: calc((100% - 48px) / 3);
}

.fourth-section-head {
    margin-bottom: 72px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.img-portfolio {
    display: block;
}

.img-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.fourth-section-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.fourth-section-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* footer*/

.footer {
    padding: 100px 0;    
    background: #2E2F42;
}

.footer-container {
    padding-top: 84px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-studio {
    color: #f4f4fd;
}

.footer-txt {    
    max-width: 264px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #F4F4FD;
}